<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meditation.metime">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level"
            android:screenOrientation="landscape" />
        <activity
            android:name=".water"
            android:screenOrientation="landscape" />
        <activity
            android:name=".fire"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Balancing_air"
            android:screenOrientation="landscape" />
        <activity
            android:name=".earth"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Music"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Progress"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Quote_day"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Journey"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mood"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Balancing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Info_Journey"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Info_Mood"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Info_Balancing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Info_Progress"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Info_Music"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Info_Intro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Notification"
            android:screenOrientation="portrait" />


        <receiver android:name=".MyReceiver">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".level2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".level3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".level4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".level5"
            android:screenOrientation="portrait" />
        <activity
            android:name=".level6"
            android:screenOrientation="portrait" />
        <activity
            android:name=".level7"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".impatient"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lethargic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".worried"
            android:screenOrientation="portrait" />
        <activity
            android:name=".depressed"
            android:screenOrientation="portrait" />
        <activity
            android:name=".restless"
            android:screenOrientation="portrait" />
        <activity
            android:name=".guilty"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nervous"
            android:screenOrientation="portrait" />
        <activity
            android:name=".stressed"
            android:screenOrientation="portrait" />
        <activity
            android:name=".angry"
            android:screenOrientation="portrait" />
        <activity
            android:name=".anxious"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fear"
            android:screenOrientation="portrait" />
        <activity android:name=".darbari"
            android:screenOrientation="portrait"/>
        <activity android:name=".jaijaivanti"
            android:screenOrientation="portrait"/>
        <activity android:name=".freeforever"
            android:screenOrientation="portrait"/>
        <activity android:name=".hiddenwings"
            android:screenOrientation="portrait"/>
        <activity android:name=".highernature1"
            android:screenOrientation="portrait"/>
        <activity android:name=".highernature2"
            android:screenOrientation="portrait"/>
        <activity android:name=".innocencebeyond"
            android:screenOrientation="portrait"/>
        <activity android:name=".origintruth1"
            android:screenOrientation="portrait"/>
        <activity android:name=".origintruth2"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>