<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meditation.metime">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SlideMenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Level" />
        <activity
            android:name=".videotest"
            android:screenOrientation="landscape" />
        <activity android:name=".Music" />
        <activity android:name=".Progress" />
        <activity android:name=".Quote_day" />
        <activity android:name=".Journey" />
        <activity android:name=".Mood" />
        <activity android:name=".Balancing" />
        <activity android:name=".Info_Journey" />
        <activity android:name=".Info_Mood" />
        <activity android:name=".Info_Balancing" />
        <activity android:name=".Info_Progress" />
        <activity android:name=".Info_Music" />
        <activity android:name=".Info_Intro" />
        <activity android:name=".Notification" />

        <receiver android:name=".MyReceiver">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".level2" />
        <activity android:name=".level3" />
        <activity android:name=".level4" />
        <activity android:name=".level5" />
        <activity android:name=".level6" />
        <activity android:name=".level7" />

    </application>

</manifest>