<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meditation.metime">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Journey_level_1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Balancing_water"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Balancing_fire"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Balancing_air"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Balancing_earth"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Music"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Progress"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Quote"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Journey"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mood"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Balancing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Glossary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".About"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Info_Journey"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Info_Mood"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Info_Balancing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Info_Progress"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Info_Music"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Info_Intro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Settings"
            android:screenOrientation="portrait" />

        <receiver android:name=".MyReceiver">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Journey_level_2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Journey_level_3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Journey_level_4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Journey_level_5"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Journey_level_6"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Journey_level_7"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mood_sad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mood_impatient"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mood_lethargic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mood_worried"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mood_depressed"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mood_restless"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mood_guilty"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mood_nervous"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mood_stressed"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mood_angry"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mood_anxious"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mood_fearful"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Music_darbari"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Music_jaijaivanti"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Music_freeforever"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Music_hiddenwings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Music_highernature1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Music_highernature2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Music_innocencebeyond"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Music_origintruth_1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Music_origintruth_2"
            android:screenOrientation="portrait" />
        <activity android:name=".Info_hand_1"
            android:screenOrientation="portrait"/>
        <activity android:name=".Info_hand_2"
            android:screenOrientation="portrait"/>
        <activity android:name=".Info_hand_3"
            android:screenOrientation="portrait"/>
        <activity android:name=".Info_hand_4"
            android:screenOrientation="portrait"/>
        <activity android:name=".Info_hand_5"
            android:screenOrientation="portrait"/>
        <activity android:name=".Info_hand_6"
            android:screenOrientation="portrait"/>
        <activity android:name=".Info_hand_7"
            android:screenOrientation="portrait"></activity>


    </application>

    <!-- needed for reading external storage (expansion files)  -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>